In [22]:
#dictionary

students = ['hassan', 'zubair', 'wajid', 'ibrahim']

students[3]


student_321 = {
    "name": "nouroz", 
    "father": "noor",
    "city":"karachi",
}

student_321["department"] = "Computer science"
student_321["batch"] = "71"

#del student_321['batch']

for a,b in student_321.items():
    print(b + ": " + a)
    
student_321

nouroz: name
noor: father
karachi: city
Computer science: department
71: batch

{'name': 'nouroz',
 'father': 'noor',
 'city': 'karachi',
 'department': 'Computer science',
 'batch': '71'}

In [24]:
student_321 = {
    "name": "nouroz", 
    "father": "noor",
    "city":"karachi",
}
student_322 = {
    "name": "hassan", 
    "father": "noor",
    "city":"karachi",
}
student_323 = {
    "name": "wajid", 
    "father": "wali khan",
    "city":"karachi",
}

students = [student_321,student_322,student_323]
students

[{'name': 'nouroz', 'father': 'noor', 'city': 'karachi'},
 {'name': 'hassan', 'father': 'noor', 'city': 'karachi'},
 {'name': 'wajid', 'father': 'wali khan', 'city': 'karachi'}]