In [10]:
cities = ['karachi', 'multan', 'hyderabad', 'quetta', 'islamabad']

codes = ['56B','A25','C72','D16']

num = 0

for city in cities:
    for code in codes:
        num += 1
        print(str(num) + ". " + city + " " + code)

1. karachi 56B
2. karachi A25
3. karachi C72
4. karachi D16
5. multan 56B
6. multan A25
7. multan C72
8. multan D16
9. hyderabad 56B
10. hyderabad A25
11. hyderabad C72
12. hyderabad D16
13. quetta 56B
14. quetta A25
15. quetta C72
16. quetta D16
17. islamabad 56B
18. islamabad A25
19. islamabad C72
20. islamabad D16

In [9]:
print( str(5) + "star")

5star

In [17]:
Name = input("What is your Name?")
Age = input("how old are You?")
print("welcome Mr. " + Name)
Age = int(Age) + 2

print("so you are " + str(Age) + " years of old")

What is your Name?Hassan Raza
how old are You?21
welcome Mr. Hassan Raza
so you are 23 years of old

In [20]:
num1 = input("Enter a number")
num2 = input("enter second number")

print( int(num1) + int(num2) )

Enter a number5
enter second number4
9

In [22]:
cit = "KaRaChI is city of light"

print(cit.lower())
print(cit.upper())
print(cit.title())

karachi is city of light
KARACHI IS CITY OF LIGHT
Karachi Is City Of Light

In [ ]:
cities = ['karachi', 'multan', 'hyderabad', 'quetta', 'islamabad']

city_name = input("Enter your city Name")

if city_name == 'karachi':
    print("he is near")
else:
    print("not from karachi")

In [ ]:
cities = ['karachi', 'multan', 'hyderabad', 'quetta', 'islamabad']

city_name = input("Enter your city Name")

if city_name == 'karachi':
    print("he is near")
else:
    print("not from karachi")